@import "tailwindcss";
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(80px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.intro-animate {
  animation: slideUp 1.2s ease-out;
}
@keyframes lineUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.line-animate {
  opacity: 0;
  animation: lineUp 0.8s ease-out forwards;
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
body {
  font-family: "Poppins", sans-serif;
}
@keyframes autoScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.auto-scroll {
  display: flex;
  width: max-content;
  animation: autoScroll 25s linear infinite;
}

/* scrollbar hide */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
